#instructions {
    padding: 25px 0;

    p{
        font-size: 17px;
        margin-bottom: 35px;
    }

    h2{ margin-bottom: 20px; }

    button{
        @include main-button(200px, 50px, 20px);
    }
}