#quote-display{
    padding: 20px;
    color: $white;

    padding-bottom: 24px;
    border-bottom: 2px solid $footer-color;

    #quote{
        font-size: 2em;
    }

    blockquote{
        border-color: $yellow;
        color: $white
    }

    #author{
        font-weight:bold;
        font-size:1.5em;
    }
}