#seeMore{
    #redditFeed{
            list-style:none;
            font-size:1.2em;
            margin: 0 auto;
            padding: 0;
            width:60%;

            li{
                margin-bottom: 20px;
            }
    }

    .fa{
        font-size: 1.4em;
        position: relative;
        left: -7px;
    }

    #growFeed{
        background-color: $black;
        border-radius: initial;
        border: initial;
    }
}