#seeMore{
    #redditFeed{
            list-style:none;
            font-size:1.2em;
            margin: 0 auto;
            padding: 0;
            width:60%;

            li{
                margin-bottom: 20px;
            }
    }

    h3{
        padding-bottom: 12px;
    }

    button{
        @include main-button(initial, initial, 1em);
        padding: 10px;
    }

    #see-more, #scroll-top{
        margin: 0 5px;
    }

    .fa{
        font-size: 1.4em;
        position: relative;
        left: -7px;
    }
}