@import 'colors';
@import 'mixins';

body{
    background-color: $black;
    color: $white;

    h1,h2,h3,h4,h5,h6{
        font-family: "Raleway", sans-serif;
    }

    p, li, a{ font-family: 'Lato', sans-serif; }


    .bottom-margin{
        margin-bottom: 35px;
    }
}

@import 'instructions';
@import 'quote-display';
@import 'see-more';
@import 'footer';